/* Testimonials.css */

.testimonials {
    padding: 3rem;
    background-color: #264653;
    color: white;
    text-align: center;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonials-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.testimonials-item{
    background-color: #2a9d8f;
    padding: 1.5rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

