.hero {
    padding: 4rem 2rem;
    background-color: #2f5d5b;
    color: white;
    font-family: Poppins, sans-serif;
    
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    
}

.hero-text {
    flex: 1;
    margin-right: 2rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.hero p {
    font-size: 1rem;
    margin-bottom: 2rem;

}

.cta-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #2f5d5b;
    background-color: #9fe7c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c3f2d0;
}

.hero-image {
    flex: 1;
    max-width: 500px;
    height: auto;

}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}