/* IndustriesSection.css */

.industries {
    padding: 3rem;
    background-color: #264653;
    color: white;
    text-align: center;
}

.industries h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.industries-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.industries-card{
    background-color: #2a9d8f;
    padding: 1.5rem;
    border-radius: 10px;
    width: 250px;
    margin: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0,2);
    transition: transform 0.3s ease;
}

.industries-card:hover{
    transform: translateY(-5px);
}