/* TopBar.css */

.top-bar {
    background-color: #2f5d5b;
    color: white;
    padding: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}
.top-bar-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.top-bar-content span{
    color: #ffffff;
}
.top-bar-content a{
    color: #9fe7c0;
    text-decoration: none;
    transition: color 0.3s;
}

.top-bar-content a:hover{
    color: #c3f2d0;
}