.hero{
    text-align: center;
    padding: 4rem 2rem;
    background-image: linear-gradient(); /* image */
    background-size: cover;
    background-position: center;
    background-color: #264653;
    color: white;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hero h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.cta-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #264653;
    background-color: #e9c46a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.cta-button:hover {
    background-color: #f4a261;
  }
