/* PricingSection.css */

.pricin-section{
    background-color: #f0fdeb;
    padding: 4rem 2rem;
    text-align: center;
}
.price-content{
    max-width: 800px;
    margin:  0 auto;
}

.price-content h2{
    font-size: 2rem;
    font-weight: 600;
    color: #264653;
    margin-bottom: 1.5rem;
}

.cta-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #2f5d5b;
    background-color: #9fe7c0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #c3f2d0;
  }