/* PricingPage.css */

.pricing-page{
    padding: 2rem;
    text-align: center;
}

.pricing-header h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.pricing-header p{
    margin-bottom: 1.5rem;
}

.toggle-buttons button{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e0f7e7;
    transition: background-color 0.3s;
}
.toggle-buttons .active{
    background-color: #2a9d8f;
    color: white;
}

.price-plans{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.plan {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    width: 700px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.plan h3{
    font-size: 1.5rem;
}

.plan .price{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.plan ul{
    list-style: none;
    padding: 0;
}

.plan li{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.plan .not-included{
    color: #b0b0b0;
}

.comprasion-table{
    margin-top: 3rem;
}

.comprasion-table table{
    width: 100%;
    border-collapse: collapse;
}

.comprasion-table th,
.comprasion-table td{
    padding: 1rem;
    border: 1px solid #ccc
}

.comprasion-table th{
    background-color: #f2f2f2;
}

.comprasion-table td{
    text-align: center;
}

.features-expand{
    margin-top: 3rem;
}

.feture{
    margin-top: 1rem;
}


.feture-toggle{
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #2a9d8f;
    cursor: pointer;
    display: block;
    text-align: left;
    padding: 0.5rem;
}

.feture-description{
    display: none;
    color: #6d6d6d;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.feture-toggle:focus + .feture-description,
.feture-toggle:hover + .feture-description{
    display: block;
}